body {
  margin: 0px;
  min-height: 100vh;
  width: 100vw;
  background-color: ghostwhite;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 200;
  font-size: 20px;
  height: 30px;
  width: 100vw;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.541);
}

a:hover {
  color: rgba(128, 128, 128, 0.918);
}

ol {
  max-width: 80vw;
  min-width: 500px;
  margin: 20px;
}
code {
  margin: 20px;
  padding: 5px;
  height: 30px;
  background-color: black;
  color: green;
  display: flex;
  align-items: center;
}

main {
  padding: 40px;
  min-height: 87vh;
}

footer {
  bottom: 0;
  height: 30px;
  background-color: gainsboro;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 50vw;
  min-width: 500px;
  height: 50vh;
  max-height: 50vh;
}
table,
th,
td {
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset {
  padding: 20px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
input[type="text"] {
  width: 150px;
}

button {
  width: 90px;
}

legend {
  font-size: 20px;
}

.radio-div {
  display: flex;
  align-items: center;
}

.radio-div label {
  width: 50px;
  height: 10px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.show-div {
  text-align: center;
  margin: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dog-img {
  animation: rotate 5s linear infinite paused;
  padding: 40px;
  height: 250px;
  width: 250px;
}
.image-div {
  background-color: aqua;
  border-radius: 50%;
  margin: 20px;
}

.dog-img.animate {
  animation-play-state: running;
}

#eva {
  height: 50vh;
  width: auto;
}

.center-div {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#with-image {
  background-image: url("asset/vagabond.jpg");
  background-size: contain;
  background-attachment: fixed;
}

.box-board {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background-color: aquamarine;
  border: 4px red;
  border-style: dotted;
  font-size: 10rem;
  text-align: center;
}

.box:first-child,
.box:nth-child(5) {
  visibility: hidden;
}

.inline-block {
  display: inline-box;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}

.box1 {
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  background-color: aquamarine;
  border: 4px red;
  border-style: dotted;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  top: 100px;
  right: 0px;
}

.box:hover {
  transform: scale(1.5);
}

.blackbox {
  width: 100px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 770px;
  right: 210px;
}

.energybomb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(yellow, green);
  position: absolute;
  top: 100px;
  left: 260px;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}

@keyframes slideY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}

.underline {
  text-decoration: underline wavy green;
}

@media (prefers-color-scheme: dark) {
  .box {
    background-color: black;
  }
}

.container {
  display: flex;
  margin: 5rem;
  justify-content: space-between;
  align-items: center;
}
.element {
  border: 2px solid red;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.boxing-board {
  height: 100vh;
  padding-top: 4rem;
}

.boxing-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 40rem;
  height: 38rem;
  column-gap: 10px;
  row-gap: 10px;
}

.boxing {
  width: 100%;
  height: 100%;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  box-shadow: 0px 10px 20px red;
}

.logo {
  width: 8rem;
  height: auto;
  background-color: aqua;
  animation: slide 2s linear infinite;
}

.logo2 {
  width: 8rem;
  height: auto;
  animation: slideY 2s linear infinite;
}
