body {
  margin: 0px;
  min-height: 100vh;
  width: 100vw;
  background-color: ghostwhite;
  overflow-x: hidden;
}

header {
  position: fixed;
  font-size: 20px;
  height: 30px;
  width: 100vw;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.541);
}

a:hover {
  color: rgba(128, 128, 128, 0.918);
}

ol {
  max-width: 80vw;
  min-width: 500px;
  margin: 20px;
}
code {
  margin: 20px;
  padding: 5px;
  height: 30px;
  background-color: black;
  color: green;
  display: flex;
  align-items: center;
}

main {
  padding: 40px;
  min-height: 87vh;
}

footer {
  bottom: 0;
  height: 30px;
  background-color: gainsboro;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 50vw;
  min-width: 500px;
  height: 50vh;
  max-height: 50vh;
}
table,
th,
td {
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset {
  padding: 20px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
input[type="text"] {
  width: 150px;
}

button {
  width: 90px;
}

legend {
  font-size: 20px;
}

.radio-div {
  display: flex;
  align-items: center;
}

.radio-div label {
  width: 50px;
  height: 10px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.show-div {
  text-align: center;
  margin: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dog-img {
  animation: rotate 5s linear infinite paused;
  padding: 40px;
  height: 250px;
  width: 250px;
}
.image-div {
  background-color: aqua;
  border-radius: 50%;
  margin: 20px;
}

.dog-img.animate {
  animation-play-state: running;
}

#eva {
  height: 50vh;
  width: auto;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#with-image {
  background-image: url("asset/vagabond.jpg");
  background-size: cover;
}
